    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    $breakpoint: 420px;
    .container {
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        border: 20px solid rgb(26, 26, 26);
        border-radius: 10px;
        @media (min-width: $breakpoint) {
            margin: 50px auto;
        }
    }
    
    .row {
        &::after,
        &::before {
            display: table;
            content: '';
            clear: both;
        }
    }
    
    h1 {
        font-family: 'Revalia', cursive;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    
    body {
        background-image: url(../images/2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100vw;
    }
    
    .intro {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 94vh;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 1);
        }
        @media (min-width: $breakpoint) {
            height: 500px;
        }
        h1 {
            font-size: 4rem;
            @media (min-width: $breakpoint) {
                font-size: 5rem;
            }
        }
        #fade {
            display: none;
        }
    }
    
    .main {
        position: relative;
        display: none;
        min-height: 600px;
        color: rgb(255, 255, 255);
        h1 {
            font-size: 1.5rem;
            padding-top: 10px;
            text-align: center;
            @media (min-width: $breakpoint) {
                font-size: 3rem;
                padding-top: 30px;
                text-align: left;
                padding-left: 20px;
            }
        }
        h2 {
            font-family: 'Love Ya Like A Sister', cursive;
            padding-top: 80px;
            font-size: 1.5rem;
            text-align: center;
            @media (min-width: $breakpoint) {
                padding-top: 50px;
            }
        }
        #timer {
            position: absolute;
            right: 44%;
            top: 8%;
            font-size: 5rem;
            font-family: 'Love Ya Like A Sister', cursive;
            @media (min-width: $breakpoint) {
                right: 10%;
                top: 1%;
            }
        }
    }
    
    button {
        margin: 30px 20px 10px 0;
        padding: 7px 35px;
        border-radius: 10px;
        border: 3px solid rgb(255, 255, 255);
        background: none;
        float: right;
        span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
            &:after {
                content: '\00ab';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
        }
    }
    
    .start {
        position: absolute;
        bottom: 10px;
        left: 25%;
        @media (min-width: $breakpoint) {
            left: 39%;
        }
    }
    
    a {
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-family: 'Revalia', cursive;
        font-size: 1rem;
    }
    
    .active {
        background-color: rgb(0, 0, 0);
        border: 3px solid rgb(26, 26, 26);
        span {
            padding-right: 25px;
            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
    
    ul {
        padding-top: 10px;
        @media (min-width: $breakpoint) {
            padding-top: 30px;
        }
        li {
            border-radius: 5px;
            width: 90%;
            border: 3px solid white;
            padding: 10px 20px;
            margin: 10px 15px;
            @media (min-width: $breakpoint) {
                width: 46%;
                float: left;
            }
            &:hover {
                background-color: rgb(0, 0, 0);
                border: 3px solid rgb(26, 26, 26);
            }
            input {
                float: right;
            }
            p {
                font-family: 'Love Ya Like A Sister', cursive;
                font-size: 1.5rem;
            }
        }
    }
    
    .fullCount {
        @extend .intro;
        background: rgb(0, 0, 0);
        @media (max-width: $breakpoint) {
            h1 {
                font-size: 3rem;
            }
        }
    }
    
    .finaleSite {
        h1 {
            text-align: center;
        }
        img {
            height: 270px;
            margin: 10px 37px;
            @media (min-width: $breakpoint) {
                height: 290px;
                margin: 5px 235px;
            }
        }
        .yourScore {
            font-family: 'Love Ya Like A Sister', cursive;
            padding-top: 50px;
            font-size: 2.5rem;
            text-align: center;
            margin: 0 50px;
        }
    }