* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    width: 100%;
    background-color: #fff;
}

.row {
    &::after,
    &::before {
        display: table;
        content: '';
        clear: both;
    }
}

$columnsCount: 12;
$breakpoint: 420px;
@for $i from 1 through $columnsCount {
    .col-#{$i} {
        width: (100%/$columnsCount)*$i;
    }
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    @media (max-width: $breakpoint) {
        float: none;
        width: 100%;
    }
}

body {
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Rokkitt', serif;
    font-size: 2rem;
    color: darkorange;
    text-align: center;
    margin-top: 10px;
    @media (min-width: $breakpoint) {
        margin-top: 30px;
        font-size: 3rem;
    }
}

button {
    padding: 5px 15px;
    border-radius: 4px;
    background: rgb(66, 184, 221);
    float: right;
    &:hover {
        span {
            padding-right: 25px;
            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }
}

a {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.active {
    background-color: rgb(51, 119, 255);
}